---
import CBLogoGrey from "@icons/cb_logo_grey.svg";
import CardShape from "@svg/CardShape.astro";
import CBLogo from "@icons/cb_logo.svg";

interface Props {
    className?: string;
    project?: {
        title: string;
        miniature: string;
        skills: string[];
        tools: string[];
        membership: string;
    };
}

const {
    className = "",
    project = {
        title: "Title not found",
        image: CBLogoGrey,
        miniature: CBLogoGrey,
        membership: CBLogo,
    }
} = Astro.props;
---

<a class={`card ${className}`} href={`/${project.title}`}>
    <CardShape
        className="shape"
        title={project.title}
        img={project.miniature}
    />
    <img src={project.membership} />
    <ul class="skills">{project.skills.map((skill) => <li>{skill}</li>)}</ul>
    <ul class="tools">{project.tools.map((tool) => <li>{tool}</li>)}</ul>
</a>

<script>
    const cards = document.querySelectorAll('.card');
    cards.forEach(element => {
        (element as HTMLElement).style.setProperty('--card-size', element.scrollWidth + "px");
    })
</script>

<style>
    .card {
        --card-size: 0px;
        aspect-ratio: 11/8;
        position: relative;
        cursor: pointer;
    }

    .shape {
        position: absolute;
    }

    img {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 10%;
    }

    .skills {
        bottom: 4%;
        left: 2%;
    }

    .tools {
        top: 4%;
        right: 2%;
        direction: rtl;
    }

    ul {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        position: absolute;
        display: flex;
    }

    .card:hover ul, .card:focus ul {
        opacity: 1;
    }

    li {
        font-size: calc(var(--card-size) / 30);
        margin: 0 2.5px 0 2.5px;
        border-radius: 3px;
        padding: 2px;
        background-color: rgb(178, 71, 199);
    }

    .skills li {
        background-color: rgb(70, 158, 173);
    }
</style>
