---
import CarrousselImage from "./carrousselImage.astro";
import projectsData from "@projects/projects.json";

const projects = projectsData.projects.sort((a,b) => {
    const dateA = new Date(a.date).getTime();
    const dateB = new Date(b.date).getTime();

    return dateB - dateA;
});
---

<div class="carroussel">
    <CarrousselImage titre={projects[1].title} image={projects[1].miniature} />
    <CarrousselImage className="image-hilight" backgroundColor={'rgba(181, 249, 253, 0.4)'} titre={projects[0].title} image={projects[0].miniature}/>
    <CarrousselImage titre={projects[2].title} image={projects[2].miniature}/>
</div>

<style>
    .carroussel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
        padding: 5% 0 5% 0;
        width: 100%;
    }

    .image-hilight {
        transform: scale(1.2);
        z-index: 2;
    }
</style>