---
import EventsData from "@cv/chronology.json";

const events = EventsData.events;
const actual = events[0];
const older = events.slice(1)
---

<div id="chronology">
    <div class="events">
        <div class="event hilight">
            <p class="date">{actual.date}</p>
            <div class="image"><img src={actual.image} /></div>
            <p class="name">{actual.name}</p>
        </div>
        {older.map((event) => (
            <div class="event">
                <p class="date">{event.date}</p>
                <div class="image"><img src={event.image} /></div>
                <p class="name">{event.name}</p>
            </div>
        ))}
    </div>
</div>

<style>
    #chronology {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 500px;
    }

    #chronology::before {
        content: "";
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: linear-gradient(135deg, rgba(51, 177, 216, 0) 25%, rgb(51, 178, 216) 35%, rgb(255, 255, 255) 50%, rgb(51, 178, 216) 65%, rgba(51, 177, 216, 0) 75%);
    }

    #chronology::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: linear-gradient(135deg, rgba(51, 177, 216, 0) 25%, rgb(51, 178, 216) 35%, rgb(255, 255, 255) 50%, rgb(51, 178, 216) 65%, rgba(51, 177, 216, 0) 75%);
    }

    .events {
        padding-top: 90px;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }

    .event {
        display: grid;
        grid-template-columns: 1fr 75px 1fr;
        gap: 35px;
        position: relative;
        margin-bottom: 100px;
    }

    .event::after {
        content: "";
        width: 2px;
        height: 100px;
        background: rgb(231, 231, 231);
        position: absolute;
        bottom: -100px;
        right: 50%;
    }

    .hilight {
        grid-template-columns: 1fr 125px 1fr;
    }

    p {
        display: flex;
        align-items: center;
    }

    .date {
        justify-content: end;
        text-align: end;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        border-radius: 300px;
        width: 100%;
        border: 3px solid white;
    }
</style>